global
    log /dev/log local0
    log localhost local1 notice
    maxconn 2000
    tune.ssl.default-dh-param 2048
 
defaults
    log global
    mode http
    option dontlognull
    retries 3
    timeout connect 5000
    timeout client 50000
    timeout server 50000
 
# SAMPLE 1
# dont confuse loadbalancer frontend/backend concept with individual app frontend/backends
frontend https-in
    bind 0.0.0.0:443 ssl crt /etc/letsencrypt/live/soroosh.dev-0004/fullchain.pem
    bind :::443 v6only ssl crt /etc/letsencrypt/live/soroosh.dev-0004/fullchain.pem

    ### applications

    # video conference
    acl is_videoconf hdr_beg(host) -i videoconf.samples.soroosh.dev
    acl is_videoconf_api hdr_beg(host) -i api.videoconf.samples.soroosh.dev
    use_backend videoconf_frontend if is_videoconf
    use_backend videoconf_backend if is_videoconf_api

    # sample 1
    acl is_sample1 hdr_beg(host) -i sample1.samples.soroosh.dev
    use_backend sample1_frontend if is_sample1

backend videoconf_backend
    # mode http
    balance roundrobin
    server videoconf-backend-1 videoconf_backend:80

backend videoconf_frontend 
    # mode http
    balance roundrobin
    server videoconf-frontend-1 videoconf_frontend:80

backend sample1_frontend 
    # mode http
    balance roundrobin
    server sample1-1 sample1_frontend:80

frontend http-in
    bind *:80
    mode http

    # letsencrypt ACME
    acl letsencrypt-acl path_beg /.well-known/acme-challenge/
    use_backend letsencrypt-acme if letsencrypt-acl
 
backend letsencrypt-acme
    balance roundrobin
    server acme-nginx-1 acme-nginx_frontend:80
